/*These are the styles that determine the style of the checkboxes*/


.radiobutton {
    display: block;
    cursor: pointer;
    position: relative;
	}



.radiobutton > input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
	height: 14px;
    width: 14px;
    background: url('../Images/radio-buttons-and-checkboxes.png');
    background-position: -15px -43px;
    background-repeat: no-repeat;
    background-size: 28px 70px;
    cursor: pointer;
    border-radius: 1px;
    vertical-align: middle;
	}

.radiobutton > input:checked {
    background-position: -15px -57px;
	}
